{% include "header.html" %}
<body>
    
    
		<div class="container-fluid">
			<div class="section-title">
                <div class="container" style="align-items: flex-start;flex-direction: column;">
                    <div style="box-shadow: 2px black; margin: 5px;">
				<h2 style="margin-top: 15px;">About US</h2>
            </div>
            <div>
                <p style="color: black; font-size: larger;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed provident suscipit laudantium! Magni aliquam, accusamus a 
                    dignissimos quos itaque totam facilis adipisci voluptatem. Quas aspernatur asperiores illum, possimus ad architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed provident suscipit laudantium! Magni aliquam, accusamus a 
                    dignissimos quos itaque totam facilis adipisci voluptatem. Quas aspernatur asperiores illum, possimus ad architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed provident suscipit laudantium! Magni aliquam, accusamus a 
                    dignissimos quos itaque totam facilis adipisci voluptatem. Quas aspernatur asperiores illum, possimus ad architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed provident suscipit laudantium! Magni aliquam, accusamus a 
                    dignissimos quos itaque totam facilis adipisci voluptatem. Quas aspernatur asperiores illum, possimus ad architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed provident suscipit laudantium! Magni aliquam, accusamus a 
                    dignissimos quos itaque totam facilis adipisci voluptatem. Quas aspernatur asperiores illum, possimus ad architecto.</p>
                </div>
                </div>
            </div>
        </div>
   
</body>


	{% include "footer.html" %}
