{% include "header.html" %}
<body>
    
    
		<div class="container-fluid">
			<div class="section-title">
                <div class="container" style="align-items: flex-start;flex-direction: column;">
                    <div style="box-shadow: 2px black; margin: 5px;">
				<h2 style="margin-top: 15px;">About US</h2>
            </div>
            <div style="color: black; font-size: larger;">
                <p style="color: black; font-size: larger;">ListenTo is a cutting-edge online music platform that offers an unparalleled experience
                     for music lovers around the world. Whether you're a
                     seasoned music aficionado or just discovering your love for music, ListenTo has something for everyone..</p>
                     <p style="color: black; font-size: larger;" >At ListenTo, we believe that music should be accessible to everyone, which is why we offer a variety of subscription options to suit your needs.
                         Whether you're looking for ad-free listening, unlimited skips, or offline playback, we have a plan that fits your lifestyle.</p>
                         <p style="color: black; font-size: larger;">Join the ListenTo community today and start exploring the world of music like never before. With our commitment to quality, innovation, and a love of music, ListenTo is the perfect place to listen, discover, and share your favorite tunes.</p>
                </div>
                </div>
            </div>
        </div>
   
</body>


	{% include "footer.html" %}
