
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>ListenTo</title>
	<meta charset="UTF-8">
	<meta name="description" content="SolMusic HTML Template">
	<meta name="keywords" content="music, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% load static %}
    
	<!-- Favicon -->
	<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>


	

</head>

<!-- Header section -->
<header class="header-section clearfix">
	<a href="index
	" class="site-logo">
		<img src="{% static 'img/logo.png' %}" alt="">
	</a>
	<div class="header-right">
		<a href="#" class="hr-btn">Help</a>
		<span>|</span>
		<div class="user-panel">
			<a href="login" class="login">Login</a>
			<a href="register" class="register">Create an account</a>
		</div> 
	</div>
	<ul class="main-menu">
		<li><a href="/">Home</a></li>
		<li><a href="About">About</a></li>
		<li><a href="#">Pages</a>
			<ul class="sub-menu">
				<li><a href="category">Category</a></li>
				<li><a href="playlist">Playlist</a></li>
				<li><a href="artist">Artist</a></li>
				<li><a href="blog">Blog</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
		</li>
		
		<li><a href="contact">Contact</a></li>
	</ul>
</header>
<!-- Header section end -->