
{% include "header.html" %}
<body>
	{% load static %}
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>



	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>Music</span> for everyone.</h2>
								<p>ListenTo is a digital music service that gives you access to 100 thousand  of songs </p>
								<a href="Artists" class="site-btn">Artists</a>
								<a href="Events" class="site-btn sb-c2">Events</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{%static 'img/hero-bg.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Unlimited Access to 100K tracks</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>With unlimited access, you can listen to your favorite tracks as many times as you want, create personalized playlists, and discover new music based on your preferences. This gives you the flexibility to explore and enjoy music on your terms, without having to worry about running out of options or being restricted by limited choices.</p>
					<a href="#" class="site-btn">Try it now</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->




	{% include "footer.html" %}

	</body>
</html>
