{% include "header.html" %}

<body>

	<section class="player-section set-bg" data-setbg="img/player-bg.jpg"
		style="background-image: url(&quot;img/player-bg.jpg&quot;); padding:0px;">
		<div class="player-box">
			<div class="tarck-thumb-warp" style="display:flex; flex-direction: column; align-items: center;">
				<div class="tarck-thumb">
					{% if event.image.url != "/media/default.png" %}
					<img src="{{event.image.url}}" alt="">
					{% else %}
					<img src="/static/img/wave-thumb.jpg" alt="">
					{% endif %}
				</div>
				<br>
				<br>
				<b>{{soldtickets}} Tickets are sold</b>
			</div>

			<div class="wave-player-warp">
				<div class="row">
					<div class="col-lg-12">
						<div class="wave-player-info">
							<h2> {{event.name}}</h3>
                            <br>
                            <h2>{{event.date}}</h3>
                            <br>
                            <h2>Price : {{event.price}} Nis</h2>
                            <br>
                            <h2>Location : {{event.location}}</h2>
                            <br>
                            
                            <form action="/buy/{{event.id}}" method="POST">
								{% csrf_token %}
								<script
									src="https://checkout.stripe.com/checkout.js" class="stripe-button"
									data-key="pk_test_51MhS48J8z5shRJVzS2Kda79t2zUUZ8z6sreGTMnOKW9r38UvaB2kYfS7sQYIUOOTWndCMEW1mGKS3GueEYrSXem8002dYmDv4l"
									data-amount="1000"
									data-name="Example"
									data-description="Example charge"
									data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
									data-currency="usd"
									data-locale="auto">
								</script>
							  </form>
							  
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>




	{% include "footer.html" %}

</body>