{% extends 'admin.html' %}

{% block content %}
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">uploaded_by</th>
  
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
    {% for i in all %}
      <tr>
        <th scope="row">{{i.user.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.uploaded_by.username}}</td>

        <td><a href="acceptartist/{{i.id}}" type="button" class="btn btn-primary">Delete</a> <a  href="declineartist/{{i.id}}"type="button" class="btn btn-danger">Edit</a></td>
        
      </tr>
    {%endfor%}
    </tbody>
  </table>
{% endblock %}